body{
    background-color: #E6C6FF;
}
.contenedor{
    background-color: #F7D3ED;
    border: none;
    border-radius: 9px;
    box-shadow: 5px 5px 5px #a88ba0;
    padding: 10px;
    width: 600px;
    margin: 35px auto;
    margin-bottom: 5px;
}
header {
   font-size: 15px;
   color:rgb(221, 88, 183);
   text-align: center;
   margin-bottom: -12px;
   text-shadow: 1px 3px 2px rgba(216, 112, 147, 0.484);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.textYmetricas{
    display: inline-flex;
}

.Caracteristicas {
    color: rgb(221, 88, 183);
    list-style: none;
    margin: 20px 15px 15px 25px;
    padding: 10px;
    text-align: left;
    border-left-style: solid;
    border-left-color: rgb(196, 140, 235);
    text-shadow: 1px 2px 3px #7caab39e;
    font-weight: thin;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   

}

.liCaracteres, .liSinEspacios, .liPalabras, .liNumeros, .liSuma, .liPromedio{
    font-size: 12px;
    color: rgb(238, 240, 145);
    background: rgb(180, 151, 215);
    border-radius: 10px;
    margin: 3px;
    padding: 5px 10px;
    font-weight: thin; 
    box-shadow: inset 1px 1.5px 1px 2px rgba(108, 106, 106, 0.414);
}

textarea[name="user-input"] {
    margin: 35px 1px 10px 55px;
    height: 150px;
    width: 300px;
    resize: none;
    border-radius: 4px;
    border: none;
    outline: none ;
    box-shadow: 5px 5px 5px rgba(90, 126, 115, 0.5);
    background-color: #D7F7F2;
    padding: 8px;
}

 #reset-button{
    color: rgb(245, 239, 154);
    background-color:rgb(180, 151, 215);
    border-radius: 8px;
    border: none;
    padding: 5px 20px;
    box-shadow: 5px 5px 5px rgb(237, 100, 146);
    display: block;
    margin: auto;
    margin-bottom: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

footer {
    font-family:  Courier;
    font-style: oblique;
    font-size: 13px;
    color: blueviolet;
    text-align: center;
    text-shadow: 1px 2px 2px rgba(122, 88, 123, 0.5);
}
